{% extends "base.html" %}

{% block title %}Log in | {{ block.super }}{% endblock %}

{% block content %}
<section>
  <h2>Log in</h2>
  <form class="form--small" method="post" action="{% url 'log_in' %}">
    {% csrf_token %}
    <fieldset>
      <div class="form-row">
        <label for="f-username">Username</label>
        <div class="field-wrapper">
          <input class="field" name="username" maxlength="256" id="f-username" type="text" required>
        </div>
      </div>

      <div class="form-row">
        <label for="f-password">Password</label>
        <div class="field-wrapper">
          <input class="field" name="password" maxlength="256" id="f-password" type="password" required>
        </div>
      </div>
    </fieldset>

    <button type="submit">Log in</button>
  </form>
</section>

{% if register %}
<section class="container">
  <div class="form-row">
    <p class="col">Don't have an account? <a href="{% url 'register' %}">Register here.</a></p>
  </div>
</section>
{% endif %}
{% endblock %}
