<template>
  <div id="pswp" class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>

    <div class="pswp__scroll-wrap">
      <!-- Image container -->
      <div class="pswp__container">
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
      </div>

      <!-- Interface -->
      <div class="pswp__ui pswp__ui--hidden">

        <!-- Top bar -->
        <div class="pswp__top-bar">
          <div class="pswp__counter"></div>

          <!-- Buttons -->
          <button class="pswp__button pswp__button--close" title="Close"></button>
          <button class="pswp__button pswp__button--fs" title="Full screen"></button>
          <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

          <!-- Preloader -->
          <div class="pswp__preloader">
            <div class="pswp__preloader__icn">
              <div class="pswp__preloader__cut">
                <div class="pswp__preloader__donut"></div>
              </div>
            </div>
          </div>
        </div>

        <!-- Navigation -->
        <button class="pswp__button pswp__button--arrow--left" title="Previous"></button>
        <button class="pswp__button pswp__button--arrow--right" title="Next"></button>
      </div>
    </div>
  </div>
</template>
