{% load static %}

<meta property="og:title" content="{{ TITLE }}">
<meta property="og:description" content="{{ DESCRIPTION }}">
<meta property="og:site_name" content="{{ TITLE }}">

<meta property="og:image" content="{{ BASE_URL }}{% static "images/camera.png" %}">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="500">
<meta property="og:image:height" content="500">
