{% extends "base.html" %}
{% load static %}

{% block title %}{{ album.name }} | {{ TITLE }}{% endblock %}

{% block meta %}
<meta property="og:title" content="{{ album.name }} | {{ TITLE }}">
<meta property="og:description" content="{{ DESCRIPTION }}">
<meta property="og:site_name" content="{{ TITLE }}">
<meta property="og:url" content="{{ BASE_URL }}{{ album.get_absolute_url }}">
<meta property="og:updated_time" content="{{ album.start|date:"c" }}">

<meta property="og:type" content="article">
<meta property="article:published_time" content="{{ album.start|date:"c" }}">
<meta property="article:modified_time" content="{{ album.start|date:"c" }}">

{% if album.cover %}
<meta property="og:image" content="{% if local_storage %}{{ BASE_URL }}{% endif %}{{ album.cover.image.url }}">
<meta property="og:image:type" content="image/jpeg">
<meta property="og:image:width" content="{{ album.cover.width }}">
<meta property="og:image:height" content="{{ album.cover.height }}">
{% endif %}

<meta name="twitter:card" content="photo">
<meta name="twitter:site" content="{{ TWITTER }}">
<meta name="twitter:creator" content="{{ TWITTER }}">
<meta name="twitter:title" content="{{ album.name }} | {{ TITLE }}">
<meta name="twitter:description" content="{{ DESCRIPTION }}">
{% if album.cover %}
<meta name="twitter:image" content="{% if local_storage %}{{ BASE_URL }}{% endif %}{{ album.cover.image.url }}">
{% endif %}

{% if not album.allow_public %}
<meta name="robots" content="noindex, nofollow">
{% endif %}
{% endblock %}

{% block content %}
  {% include "_browser.html" %}
{% endblock %}
