<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% load static %}

  <title>{% block title %}{{ TITLE }}{% endblock %}</title>
  <meta name="author" content="{{ NAME }}">
  <meta name="description" content="{% block description %}{{ DESCRIPTION }}{% endblock %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#0078ff">
  {% block meta %}{% endblock %}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css" integrity="sha384-wxqG4glGB3nlqX0bi23nmgwCSjWIW13BdLUEYC4VIMehfbcro/ATkyDsF/AbIOVe" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.0/min/dropzone.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.0/min/dropzone.min.js" defer></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/default-skin/default-skin.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe.js" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe-ui-default.js" defer></script>

  {% if debug %}
  <link rel="stylesheet" href="{% static 'styles/debug/common.css' %}">
  {% else %}
  <link rel="stylesheet" href="{% static 'styles/shared/common.css' %}">
  {% endif %}
  <link rel="stylesheet" href="{% static 'styles/main.css' %}">
  <link rel="shortcut icon" href="{% static 'favicon.png' %}">
</head>

<body class="{% block classes %}{% endblock %}">
<div id="api"
     data-tagline="{{ TAGLINE }}"
     data-static-blue-dog="{% static 'images/camera.png' %}"
     data-static-cover-placeholder="{% static 'images/cover-placeholder.png' %}"
     data-static-square-thumbnail-placeholder="{% static 'images/square-placeholder.png' %}"
></div>

{% block content %}{% endblock %}
</body>
</html>
