{% extends "base.html" %}
{% load static %}

{% block meta %}
  {% include "_open_graph_common.html" %}

  <meta property="og:type" content="article">
  <meta property="og:url" content="{{ BASE_URL }}{% url 'index' %}">
  <meta property="article:author" content="{{ NAME }}">
  <meta property="article:published_time" content="{{ LAST_UPDATE|date:"c" }}">
  <meta property="article:modified_time" content="{{ LAST_UPDATE|date:"c" }}">
{% endblock %}

{% block content %}
  {% include "_browser.html" %}
{% endblock %}
