{% extends "base.html" %}
{% load static %}
{% load tz %}

{% block title %}{{ page_title }}{% endblock %}

{% block meta %}
<meta property="og:title" content="{{ page_title }}">
<meta property="og:description" content="{{ DESCRIPTION }}">
<meta property="og:site_name" content="{{ TITLE }}">
<meta property="og:updated_time" content="{{ photo.taken|date:"c" }}">
<meta property="og:url" content="{{ BASE_URL }}{{ photo.get_absolute_url }}">

<meta property="og:type" content="article">
<meta property="article:published_time" content="{{ photo.taken|date:"c" }}">
<meta property="article:modified_time" content="{{ photo.taken|date:"c" }}">

<meta property="og:image" content="{% if local_storage %}{{ BASE_URL }}{% endif %}{{ photo.image.url }}">
<meta property="og:image:type" content="image/jpeg">
<meta property="og:image:width" content="{{ photo.width }}">
<meta property="og:image:height" content="{{ photo.height }}">

<meta name="twitter:card" content="photo">
<meta name="twitter:site" content="{{ TWITTER }}">
<meta name="twitter:creator" content="{{ TWITTER }}">
<meta name="twitter:title" content="{{ page_title }}">
<meta name="twitter:description" content="{{ DESCRIPTION }}">
<meta name="twitter:image" content="{% if local_storage %}{{ BASE_URL }}{% endif %}{{ photo.image.url }}">

{% if not allow_public %}
<meta name="robots" content="noindex,nofollow">
{% endif %}
{% endblock %}

{% block content %}
  {% include "_browser.html" %}
{% endblock %}
