{% extends "base.html" %}
{% load static %}

{% block title %}{{ page_title }}{% endblock %}

{% block meta %}
<meta property="og:title" content="{{ page_title }}">
<meta property="og:description" content="{{ DESCRIPTION }}">
<meta property="og:site_name" content="{{ TITLE }}">
<meta property="og:url" content="{{ BASE_URL }}{{ tag.get_absolute_url }}">

<meta property="og:type" content="article">

<meta name="twitter:card" content="photo">
<meta name="twitter:site" content="{{ TWITTER }}">
<meta name="twitter:creator" content="{{ TWITTER }}">
<meta name="twitter:title" content="{{ page_title }}">
<meta name="twitter:description" content="{{ DESCRIPTION }}">
{% endblock %}

{% block content %}
  {% include "_browser.html" %}
{% endblock %}
