@import url('https://fonts.googleapis.com/css?family=Roboto:400');
@import url('https://fonts.googleapis.com/css?family=Contrail+One:400,700');
@import "variables";

// Other

$itemSpacing: 0.5rem;

/* General */

*::selection,
*::-moz-selection {
  background-color: $blue;
}

body {
  width: 90%;
  max-width: 90%;

  @include secondary-font();
  text-align: center;

  @media (min-width: 901px) {
    width: 95%;
    max-width: 95%;
  }
}

footer {
  @include primary-font();
  text-transform: lowercase;

  margin-top: 3rem;
}

h1, h2, h3, h4, h5, h6 {
  @include primary-font();
  text-transform: lowercase;
}

/* Generic classes */

// Index page tagline
.tagline {
  @include primary-font();
  color: $text;
  font-size: 1.6rem;
  font-weight: 400;

  margin: 1rem 0;
  width: 100%;
}

.note {
  color: rgb(150, 150, 150);
  font-style: italic;
}

.warning {
  font-weight: 700;
}

/* Button: "view more" */

.view-more {
  margin: 1rem (-$itemSpacing);
}

.view-more-wrapper {
  padding: $itemSpacing;

  @media (min-width: 901px) {
    width: (100% / 3);
    margin-left: (100% / 3);
  }
}

.view-more-link {
  display: block;

  @include primary-font();
  line-height: 1;

  border: 1px solid $blue;
  padding: 1rem;

  &:hover {
    background-color: $blue;
    color: rgb(220, 220, 220);
    text-decoration: none;
  }

  &, &:hover {
    transition: 0.2s background-color, 0.2s color;
  }
}

/* Forms */

$form-border-radius: 4px;
$form-font-size: 1.3rem;

// Margin above/below input elements
$inputMargin: 5px;

form {
  display: flex;
  justify-content: center;

  width: 100%;
  padding: 1rem;
  border-radius: $form-border-radius;

  background-color: rgb(40, 40, 40);
}

.form--1-column {
  flex-direction: column;
  align-items: center;
}

.form--2-columns {
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;

  .form-column {
    width: 100%;
    margin: 0;
  }

  fieldset {
    padding: 1rem;
    border: 1px solid rgb(60, 60, 60);
    border-radius: $form-border-radius;
  }

  @media (min-width: 901px) {
    .form-column {
      width: 50%;
    }

    .form-column-1 {
      padding-right: 0.5rem;
    }

    .form-column-2 {
      padding-left: 0.5rem;
    }
  }
}

fieldset {
  display: block;

  width: 100%;

  padding: 0;
  border: 0;
  margin: 0;
  margin-bottom: 1rem;
}

legend {
  padding: 0 0.5rem;
  margin-left: -0.5rem;
  margin-bottom: 0.5rem;

  @include primary-font();
  text-transform: lowercase;
  text-align: center;
  line-height: 1;
  font-size: 150%;
  font-weight: 700;
}

textarea {
  display: block;
}

input, textarea {
  background-color: rgb(60, 60, 60);
  border: 1px solid rgb(80, 80, 80);
  border-radius: $form-border-radius;
  color: $text;

  &:active, &:focus {
    border: 1px solid $blue;
  }
}

input:disabled {
  background-color: rgb(20, 20, 20);
  border-color: rgb(20, 20, 20);

  cursor: not-allowed;
}

input[type="date"],
input[type="number"],
input[type="password"],
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 8px 10px;

  font-size: $form-font-size;
  line-height: 1;
}

label {
  display: block;

  width: 100%;
  margin-bottom: 0.5rem;

  font-size: $form-font-size;
  line-height: 1;
  font-weight: bold;
  text-align: left;
}

.field-wrapper {
  display: flex;
  justify-content: start;
}

.form-control-options {
  display: flex;

  input[type="radio"],
  input[type="checkbox"] {
    display: none;
    visibility: hidden;

    // Change the appearance of the label to a button
    & + label {
      flex-basis: 100%;

      padding: 12px 0;
      margin: 0;

      background: rgb(60, 60, 60);
      border: 1px solid rgb(80, 80, 80);
      color: $text;

      font-weight: normal;
      text-align: center;

      // First choice
      &:first-of-type {
        border-radius: $form-border-radius 0 0 $form-border-radius;
      }

      // Middle choices
      &:not(:last-child) {
        border-right: 0;
      }

      // Last choice
      &:last-of-type {
        border-radius: 0 $form-border-radius $form-border-radius 0;
      }
    }

    &:checked + label {
      background: $blue;
      border-color: $blue;
      color: white;
    }
  }
}

.form--small {
  max-width: 600px;
  margin: 0 auto;
}

.form-control {
  margin-bottom: 1.2rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.form-link-action {
  text-align: right;
  margin-top: 0.2rem;
}

.form-note {
  width: 100%;
  margin-top: $inputMargin;

  font-size: 80%;
}

.form-error {
  margin-top: 5px;

  color: red;
  font-size: 80%;
}

.field--invalid {
  border: 1px solid red;
}

// Form: buttons

.form-buttons {
  display: flex;
  flex-direction: row;

  width: 100%;
}

.form-button {
  display: block;

  width: 110px;
  padding: 12px 0;
  border: 0;
  border-radius: $form-border-radius;

  background-color: $text;
  color: rgb(20, 20, 20);

  text-align: center;
  line-height: 1;

  cursor: pointer;

  &:hover {
    background-color: lighten($text, 15%);
  }

  &, &:hover {
    text-decoration: none;
    transition: background-color 0.3s;
  }

  &-primary {
    background-color: $blue;
    color: white;

    &:hover {
      background-color: lighten($blue, 15%);
    }
  }

  &-secondary {
    //
  }
}

// Form: range inputs

$separator-width: 5%;

.form-control-range-input {
  display: flex;

  input, select, textarea {
    width: (100% - $separator-width) / 2;
  }
}

.form-control-range-input-separator {
  width: $separator-width;

  text-align: center;
}

/* Messages and notifications */

#messages {
  width: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 0;
  z-index: 10000;
}

.message {
  width: 100%;
  display: inline-block;
  padding: 10px 20px;

  cursor: pointer;

  background-color: rgb(40, 40, 40);
  border: 1px solid rgb(220, 220, 220);
  color: rgb(220, 220, 220);

  opacity: 0;

  &.success {
    $base: #00CB8A;
    background-color: $base;
    border-color: darken($base, 20%);
    color: rgb(20, 20, 20);
  }

  &.warning {
    $base: #FFEA00;
    background-color: $base;
    border-color: darken($base, 20%);
    color: rgb(20, 20, 20);
  }

  &.error {
    $base: #FF5959;
    background-color: $base;
    border-color: darken($base, 20%);
    color: rgb(20, 20, 20);
  }

  &.visible {
    opacity: 1;
  }

  &, &.visible {
    @include fade();
  }

  & + & {
    border-top: 0 !important;
  }
}

/* Photos */

$photoWidth: 300px;

.photos {
  display: flex;
  flex-wrap: wrap;

  margin: $itemSpacing (-$itemSpacing);
}

.photo-wrapper {
  padding: $itemSpacing;

  @media (max-width: $photoWidth * 1) {
    width: 100%;
  }
  @for $i from 1 through 4 {
    @media (min-width: $photoWidth * ($i) + 1) and
           (max-width: $photoWidth * ($i + 1)) {
      width: 100% / ($i + 1);  // 50%, 33%, 25%, 20%
    }
  }
  @media (min-width: $photoWidth * 5 + 1) {
    width: (100% / 6);
  }

  &.empty {
    padding: 0;
  }

  &.selected img {
    filter: brightness(0.3);
  }

  @include fade();
}

.photo {
  img {
    width: 100%;
  }
}

.photo-placeholder {
  position: relative;
}

.photo-skeleton {
  border: 1px solid rgb(40, 40, 40);
}

.photo-no-thumbnail-note {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
}

/* Albums */

$albumWidth: 400px;

.albums {
  display: flex;
  flex-wrap: wrap;

  margin: $itemSpacing (-$itemSpacing);
}

.album-wrapper {
  padding: $itemSpacing;

  @media (max-width: $albumWidth * 2) {
    width: 100%;
  }
  @media (min-width: $albumWidth * 2 + 1) and (max-width: $albumWidth * 3) {
    width: (100% / 2);  // 50%
  }
  @media (min-width: $albumWidth * 3 + 1) and (max-width: $albumWidth * 4) {
    width: (100% / 3);  // 33%
  }
  @media (min-width: $albumWidth * 4 + 1) and (max-width: $albumWidth * 6) {
    width: (100% / 4);  // 25%
  }
  @media (min-width: $albumWidth * 6 + 1) {
    width: (100% / 6);  // 16.67%
  }

  @include fade();
}

.album {
  position: relative;

  img {
    width: 100%;
    object-fit: cover;
  }
}

// Album title container
.album-title {
  position: absolute;
  bottom: 0;
  background-color: rgba(20, 20, 20, 0.8);
  width: 100%;

  // Text
  div {
    @include primary-font();
    color: $text;
    font-size: 1.35rem;
    line-height: 1;
    text-align: center;
    text-transform: lowercase;

    margin: 0.8rem;

    @media (min-width: 1501px) {
      font-size: 1.45rem;
      margin: 1rem;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  // Hidden albums
  .album-hidden & div {
    color: red;
  }
}

.album-no-cover {
  background: rgb(40, 40, 40);
}

// Placeholder text
.album-no-cover-note {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
}

/* Album search */

.album-search-container {
  width: 100%;
  margin: 1rem 0;

  input {
    background-color: rgb(20, 20, 20);
    border: 1px solid $text;

    height: 3.2rem;
    padding: 6px 12px;

    @include primary-font();
    color: $text;
    font-size: 1.5rem;
    line-height: 1;
  }
}

#no-results {
  margin: 1rem 0;
}

.count {
  @include primary-font();
  color: $text;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.5rem;
  text-align: left;
  text-transform: none;

  margin: 1rem 0;
}

/* Album lists */

.album-list-simple {
  //
}

.album-list-simple-items {
  & & {
    padding: 0;
    margin: 0 0 0 2rem;
  }
}

/* Album edit links */

ul.edit-links-center {
  list-style: none;
  margin: 0;
  padding: 0;

  @include primary-font();

  li:not(:last-child)::after {
    color: $text;
    content: "/";
    margin: 0 0.75rem;
    position: relative;
  }
}

ul.edit-links-center {
  li {
    display: inline-block;
  }
}

/* Groups of photos, including albums */

.group {
  margin: -1rem 0 0 0;
}

/* Changelog */
.commit-hash {
  font-family: Consolas, monospace;
}

/* Photo wall */
.photo-wall {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  margin: 0;
}

.photo-wall-item {
  width: (100% / 5);

  @media (min-width: 901px) and (max-width: 1500px) {
    width: (100% / 8);
  }
  @media (min-width: 1501px) {
    width: (100% / 10);
  }

  filter: brightness(1.0);

  &:hover {
    filter: brightness(0.6);
  }

  &, &:hover {
    transition: filter 0.2s ease-in-out;
  }

  img {
    width: 100%;
  }
}
